version: '3.8'

services:
  db:
    image: postgres:13
    container_name: reactive_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5490:5432"